:root {
    --cor-preta: #000000;
    --cor-branca: #ffffff;
    --cor-branca-soft: #f1f1f1;
    --cor-azul-claro: #327aff;
    --cor-azul-escuro: #34495e;
    --cor-overlay: #00000071;
    --font-family: "poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-branca);
    font-family: var(--font-family);
}

img {
    max-width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.destaque {
    height: 80dvh;
    background-image: url("../img/image13.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.overlay{
background-color: var(--cor-overlay);
height: 100%;

display: flex;
align-items: center;
justify-content:space-between ;
padding: 1rem;
}

.overlay p{
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay p span:nth-child( 1){
    font-size: 2rem;
    font-weight: 700;
}

.overlay p span:nth-child(2){
    font-size: 0.875rem;
    font-weight: 600;

}

.description{
    background-color: var(--cor-branca-soft);
    height: 80dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    
}